@model RoomsViewModel
@*Breadcrumb*@
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Phòng</h2>
            <ol class="breadcrumb">
                <li><a asp-controller="home" asp-action="index">Trang chủ</a></li>
                <li class="active">Phòng</li>
            </ol>
        </div>
    </div>
</section>

@*============Rooms============*@
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Phòng tại nhà Sky</h2>
            <p>Với hệ thống phòng đa dạng, The Sky Homestay mong sẽ đem lại cho bạn trải nghiệm tuyệt vời tại Hòn Sơn</p>
        </div>
        @*Booking table*@
        <section class="hotel_booking_area">
            <div class="container">
                <div class="row hotel_booking_table">
                    <div class="col-md-3">
                        <h2>Nhanh tay</br>đặt phòng</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                            <form asp-controller="rooms" asp-action="check" method="get">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker11'>
                                                    <input type='text' name="CheckInDate" class="form-control" value="@Model.CheckInDate" />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' name="CheckOutDate" class="form-control" value="@Model.CheckOutDate" />
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="book_tabel_item">
                                            <input type="submit" class="book_now_btn button_hover" value="Xem phòng trống">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row mb_30 mt-30">
            @foreach (var item in Model.Rooms)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <a asp-controller="rooms" asp-action="detail" asp-route-Id="@item.Id">
                                    <img src="@item.Images.First().Name" alt="">
                                </a>
                                <form asp-controller="rooms" asp-action="booking" method="post">
                                    <input type="text" name="Id" value="@item.Id" hidden>
                                    <input type="text" name="CheckInDate" value="@Model.CheckInDate" hidden>
                                    <input type="text" name="CheckOutDate" value="@Model.CheckOutDate" hidden>
                                    <button type="submit" value="submit" class="btn theme_btn button_hover">Đặt ngay</button>
                                </form>
                                @if (item.State==TheSkyHomestay.Data.Models.Enums.RoomStateEnum.Booked)
                                {
                                    <div class="overlay_unavailable">
                                        <h3>PHÒNG ĐẶT</h3>
                                    </div>
                                }
                            </div>
                            <a asp-controller="rooms" asp-action="detail" asp-route-Id="@item.Id">
                                <h4 class="sec_h4">@item.Name</h4>
                            </a>
                        <h5>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),"{0:c}",@item.Price)</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>