@{
    var requestedController = ViewContext.RouteData.Values["controller"].ToString();
}

@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <title>The Sky Homestay</title>
    @if (requestedController == "Account")
    {
        <link rel="stylesheet" href="~/vendors/bootstrap/mdb.min.css">
    }

    @if (requestedController != "Account")
    {
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/vendors/linericon/style.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
        @* <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css"> *@
        <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/responsive.css">
    }
</head>
<body>
    @* Header *@
    @if (requestedController != "Account"){
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" asp-controller="home" asp-action="Index"><img src="~/images/Logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item @(requestedController=="Home" ? "active" : "")"><a class="nav-link" asp-controller="home" asp-action="Index">Trang chủ</a></li>
                            <li class="nav-item @(requestedController=="About" ? "active" : "")"><a class="nav-link" asp-controller="about" asp-action="Index">Sky Homestay</a></li>
                            <li class="nav-item @(requestedController=="Rooms" ? "active" : "")"><a class="nav-link" asp-controller="rooms" asp-action="Index">Phòng</a></li>
                            <li class="nav-item @(requestedController=="Services" ? "active" : "")"><a class="nav-link" asp-controller="services" asp-action="Index">Dịch vụ</a></li>
                            <li class="nav-item @(requestedController=="Contact" ? "active" : "")"><a class="nav-link" asp-controller="contact" asp-action="Index">Liên hệ</a></li>
                            @if(User.Identity.IsAuthenticated){
                                <li class="nav-item"><a class="nav-link" asp-controller="account" asp-action="logout">Đăng xuất</a></li>
                            }
                            else{
                                <li class="nav-item"><a class="nav-link" asp-controller="account" asp-action="login">Đăng nhập</a></li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    }

    @*Content*@
    @RenderBody()

    @*Footer*@
    @if (requestedController != "Account")
    {
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Giới thiệu</h6>
                            <p class="text-justify"><a asp-controller="about" asp-action="index">The Sky Homestay</a> là một doanh nghiệp kinh doanh nhà nghỉ tại Hòn Sơn. Với sứ mệnh phục vụ và đem đến trải nghiệm tuyệt vời cho du khách tại Hòn Sơn, The Sky Homestay luôn cố gắng thay đổi từng ngày để xứng đáng là một trong những điểm đến đáng quan tâm trong thị trường dịch vụ không khói tại mảnh đất hiền hòa Kiên Giang.</p>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-6">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">Liên kết</h6>
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list_style">
                                        <div class="row">
                                            <li class="col-5"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
                                            <li class="col-7"><a asp-controller="rooms" asp-action="index">Phòng</a></li>
                                        </div>
                                        <div class="row">
                                            <li class="col-5"><a asp-controller="services" asp-action="index">Dịch vụ</a></li>
                                            <li class="col-7"><a asp-controller="contact" asp-action="index">Liên hệ</a></li>
                                        </div>
                                    </ul>
                                </div>						
                            </div>							
                        </div>
                    </div>		
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="~/images/phong-1-giuong.jpg" alt="" style="width: 55px"></li>
                                <li><img src="~/images/phong-2-giuong.jpg" alt="" style="width: 55px"></li>
                                <li><img src="~/images/phong-tap-the.jpg" alt="" style="width: 55px"></li>
                                <li><img src="~/images/phong-kieu-dorm.jpg" alt="" style="width: 55px"></li>
                                <li><img src="~/images/cau-hai-san.jpg" alt="" style="width: 55px"></li>
                                <li><img src="~/images/lang-nhum.jpg" alt="" style="width: 55px"></li>
                                <li><img src="~/images/ma-thien-lanh.jpeg" alt="" style="width: 55px"></li>
                                <li><img src="~/images/thue-xe-may.jpg" alt="" style="width: 55px"></li>
                            </ul>
                        </div>
                    </div>						
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a asp-controller="about" asp-action="index">The Sky Homestay</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    }

    @if (requestedController != "Account"){
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/js/mail-script.js"></script>
        @* <script src="~/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script> *@
        <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <script src="~/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="~/js/mail-script.js"></script>
        <script src="~/js/stellar.js"></script>
        <script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="~/js/custom.js"></script>
    }

     @if (requestedController == "Account"){
        <script src="~/vendors/bootstrap/mdb.min.js"></script>
     }
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "110043568601455");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v15.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

     <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="js/gmaps.min.js"></script>
</body>
</html>
